

{
    :builds {
        :sicm-repl {
            :asset-path "cljs_out"
            :compiler-options {
                :optimizations :advanced
                :output-wrapper false}
            :devtools {
                :http-root "."
                :http-port 8700}
            :modules {:main {:entries [repl.core]}}
            :output-dir "cljs_out"
            :target :browser
        }
    }
    :dependencies [
        [borkdude/sci "0.2.5"]
;        [sicmutils/sicmutils "0.18.0"]
    ]
    :dev-http {9000 "."}
    :source-paths ["src"]
}