

{
    :builds {
        :sicm-dev {
            :asset-path "out"
            :modules {:main {:entries [repl.core]}}
            :output-dir "out"
            :target :browser
            :devtools {
                :http-root "."
                :http-port 8700}}
        :sicm-release {
            :asset-path "out"
            :compiler-options {
                :optimizations :simple
                :output-wrapper false}
            :modules {:main {:entries [repl.core]}}
            :output-dir "out"
            :target :browser
            :devtools {
                :http-root "."
                :http-port 8700}}
        :bootstrap-dev {
            :entries [cljs.js]
            :exclude #{cljs.js}
            :macros []
            :output-dir "out/bootstrap"
            :target :bootstrap}
        :bootstrap-release {
            :compiler-options {
                :optimizations :simple
                :output-wrapper false}
            :entries [cljs.js]
            :exclude #{cljs.js}
            :macros []
            :output-dir "out/bootstrap"
            :target :bootstrap}
    }
    :dependencies [
        [sicmutils/sicmutils "0.18.0"]],
    :dev-http {9000 "."}
    :source-paths ["src"]
}